@model IEnumerable<Practica2.EF.MVC.Models.Region>

<select class="form-control" id="Region" name="Region">


    @foreach (var item in Model)
    {
        <option value="@item.RegionID">@item.RegionDescription</option> //razor (buscar)>>>>>>>>>>>>>>>><
    }

</select>